  // Declaring color variables
  $color-primary: #69FFE8;
  $color-primary-lighter: #d3fff8;
  $color-primary-darker: #3EC6B2;

  $color-dark: #181818;
  $color-white: #ffffff;

  $color-grey-lighter: #9a9a9a; 
  $color-grey: #6b6b6b;
  $color-grey-darker: #414141;
  $color-grey-dark: #222222;